@import "@styles/variables";
@import "@styles/mixins";

.main {
  width: 100%;
  height: 280px;
  background: url("/images/common/head-bg.jpg") repeat-x;
  background-position: center top;
  position: relative;

  @include md {
    height: 430px;
  }

  &:global {
    &.active {
      .lines {
        opacity: 1;
        transform: scale(1) translateY(0);
      }

      .slider {
        opacity: 1;
        transform: scale(1) translateY(0);
      }
    }
  }

  :global {
    .container {
      max-width: max-content;
      @include md {
        max-width: max-content;
      }
      @include lg {
        max-width: 1200px;
      }

      @include xl {
        max-width: 1300px;
      }
    }
  }
}

.logo {
  width: 280px;
  margin: 0 auto;
  position: relative;
  top: -60px;

  @include lg {
    width: 300px;
  }
  img {
    width: 100%;
  }
}

.slider {
  width: 100%;
  opacity: 0;
  top: -40px;
  transform: scale(1.2) translateY(130px);
  position: relative;
  overflow: visible;
  padding-left: 10px;
  padding-right: 10px;

  @include e1000;

  @include lg {
    overflow: hidden;
  }
}

.lines {
  width: calc(100% + 400px);
  left: -200px;
  right: -200px;
  height: 100%;
  position: absolute;
  top: -80%;
  background: url("/images/provider-lines.png") no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  opacity: 0;
  transform: scale(1.1) translateY(-10px);
  @include e1000;

  @include md {
    width: calc(100% + 480px);
    left: -240px;
    right: -240px;
  }

  @include lg {
    width: calc(100% + 140px);
    left: -70px;
    right: -70px;
  }

  @include xl {
    width: calc(100% + 140px);
    left: -70px;
    right: -70px;
  }

  @include xxl {
    width: calc(100% - 140px);
    left: 70px;
    right: 70px;
  }
}

.item {
  width: 166px;
  height: 118px;
  background: #ffffff;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;

  @include md {
    height: 221px;
  }

  img {
    max-height: 64px;
    max-width: 100%;
  }
}
