@import "@styles/variables";
@import "@styles/mixins";

.main {
  width: 100%;
  position: absolute;

  z-index: 1000;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  @include lg {
    padding: 30px 30px;
  }
}

.logo {
  width: 140px;
  position: relative;
  display: none;

  @include md {
    display: block;
  }
  img {
    width: 100%;
  }
}

.menu {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include lg {
    }

    li {
      margin-left: 40px;
      &:first-child {
        margin-left: 0;
      }
      @include lg {
        margin-left: 40px;
      }
      a {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        text-decoration: none;
        display: flex;
        align-items: center;
        @include e200;
        &::hover {
          color: rgba(255, 255, 255, 0.5);
        }
        @include lg {
          font-size: 16px;
        }

        svg {
          margin-right: 5px;
          position: relative;
          top: -2px;
        }

        .mobile-hidden {
          display: none;
          @include lg {
            display: block;
          }
        }
      }
    }
  }
}
